RewriteEngine ON
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.seokurs.rs/$1 [R,L]
 # Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
# Handle Front Controller...
RewriteCond %{REQUEST_URI} !assets/ 
RewriteCond %{REQUEST_URI} !storage/uploads/public/ 
RewriteCond %{REQUEST_URI} !favicon.ico
RewriteRule ^ index.php [L]