MODE=DEVELOPMENT

AUTHENTICATION=ON

SITE_URL=http://seokurs.test

CONTACT_EMAIL=nikolamilicevic92.test@gmail.com
CONTACT_EMAIL_PASSWORD=cikpogodi123@test!
CONTACT_EMAIL_SERVER=smtp.gmail.com
CONTACT_EMAIL_SERVER_PORT=465

REGISTER_URI=/registruj-se
LOGIN_URI=/uloguj-se
PASSWORD_RESET_URI=/resetovanje-lozinke

HOSTNAME=localhost
USERNAME=root
PASSWORD=
DATABASE=seocours