:root {
  --link-default-color: white;
  --header-footer-bg: black;
  /* --header-footer-bg: rgb(49, 49, 49); */
  --nav-link-color: white;
  --nav-link-hover-bg: #ff1a1a;
  --header-contact-data-color: gray;
  /*Colors for Pocetna page*/
  /* Tri diva sa kratkim opisom ispod videa */
  --info-section-bg:#8e3c77;
  --info-section-color: white;
  --info-section-hover-bg: #563672;
  /* Ono levo i desno od slike sto iskace */
  --left-right-info-bg: rgb(57, 193, 235);
  --left-right-info-color: white;
  /* Pozadinska boja onog isecenog dela sa cenom */
  --title-price-bg: rgb(218, 218, 218);
  --course-price-color: white;
  --course-price-value-color: white;
  --course-length-color: white;
  --course-length-value-color: white;
  --course-name-color: white;
  /* Dugme za kupovinu */
  --course-btn-bg: #2a2e35;
  --course-btn-hover-bg: #078c8a;
  /* Sadrzaj */
  --contact-link-category-bg: snow;
  --contact-link-category-color: #2a2e35;
  --content-link-bg: #2a2e35;
  --content-link-hover-bg: #069b85;
  --content-link-color: white;
}
* {
  margin: 0;
  padding: 0;
}
footer{
  margin-top: 30px;
}
.shdw {
  box-shadow: 0 3px 15px gray;
}
.form-group label {
  color: rgb(88, 88, 88);
  display: inline-block;
  margin-bottom: 3px;
}
.collapsed {
  height: 0;
}
.hidden {
  display: none;
}
p {
  line-height: 1.4;
}
.max-1200 {
  width: 98%;
  margin: auto;
}
.first-part {
  color: white;
  margin-right: 5px
}
.second-part {
  color: red;
}
.hide {
  display: none;
}
.show {
  display: block;
}
header > div:first-child > div {
  margin-top: 10px;
  margin-bottom: 5px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--link-default-color);
}
header {
  margin-bottom: 30px;
  box-shadow: 0 3px 15px gray;
}
header > div:last-child,
footer > div:last-child {
  background-color: var(--header-footer-bg);
}
header nav ul li {
  text-align: center;
  display: none;
}
header nav ul li:first-child {
  display: block;
}
header nav {
  min-height: 40px;
  position: relative;
}
header nav ul {
  position: absolute;
  width: 103.5%;
  left: -2.5%;
  z-index: 100;
}
header nav ul li {
  background-color: var(--header-footer-bg);
}
#menuToggle {
  display: block;
  margin: auto;
  width: 40px;
  height: 49px;
  cursor: pointer;
  /* background-color: white; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../media/menu-toggle.png);
}
header a.menu-link {
  text-transform: uppercase;
  color: var(--nav-link-color);
  display: block;
  font-size: 14px;
  position: relative;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.15s ease;
  overflow: hidden;
}
header .logo span {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}
header a.menu-link:not(.logo):hover,
header a.active {
  background-color: var(--nav-link-hover-bg);
}
body > main {
  min-height: calc(100vh - 170px);
}
/**
* Footer starts here
**/
.pocetna .atp > div {
  width: 50%;
  float: left;
  padding: 50px;
}
.pocetna .atp {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.87);
}
.pocetna .atp > div:first-child {
  background-color: #14141415;
  height: 276px;
  text-align: center;
}

.pocetna .atp > div:last-child {
  background-color: black;
  color: rgba(255, 255, 255, 0.952);
}

.pocetna .atp > div:first-child p {
  font-weight: bold;
  color: black;
}
.pocetna .atp > div:last-child p:first-child {
  font-weight: bold;
}
.pocetna .atp > div:last-child p:nth-child(2) {
  font-size: 35px;
}
.pocetna .atp > div > *:not(:last-child) {
  margin-bottom: 30px;
}

footer > div > div > p {
  font-size: 14px;
  color: white;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
@media screen and (min-width: 750px) {
  footer > div > div > p:first-child {
    float: right;
  }
  footer > div > div > p:last-child {
    float: left;
  }
  footer > div > div > p {
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
  }
}

footer > div > div
footer > div > div a:not(:last-child) {
  margin-right: 30px;
}
.pocetna .atp img {
  display: block;
  width: 30px;
  height: 30px;
}
.pocetna .atp ul li {
  float: left;
  margin-right: 15px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
}
.pocetna .atp ul li:hover {
  background-color: #f8f8f8e0;
  cursor: pointer;
}

/***** Pocetna page *****/
.pocetna .hero-container {
  overflow: hidden;
  /* height: 440px; */
  position: relative;
  width: 100%;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  box-shadow: 0 10px 30px gray;
}
.meow .btn-info {
  box-shadow: 0 5px 30px gray;
}
.pocetna .arrow-right {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  position: relative;
  bottom: 3px;
}
.pocetna video {
  /* position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); */
  /* width: auto !important; */
  width: 100% !important;
  height: auto !important;
  display: block;
  margin: auto;
  /* height: 100% !important; */
}
@media screen and (min-width: 1200px) {
  .pocetna .max-1200 {
    width: 1200px;
  }
}
@media screen and (min-width: 1230px) {
  .pocetna .hero-container {
    width: 1200px;
    margin: auto;
    margin-bottom: 40px;
  }
} 
/***** End of pocetna page *****/

/***** seo-kurs page *****/
.seo-kurs .wrapper {
  max-width: 1200px;
  margin: auto;
}
.star-rating {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background-image: url(../media/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 3px;
}
/* Preview  */
.seo-kurs .preview {
  margin-bottom: 50px;
}
.seo-kurs .course-info > div {
  float: left;
  padding: 0 15px;
}
.seo-kurs .course-info > div:first-child {
  padding-left: 0;
}
.seo-kurs .course-info > div:last-child {
  padding-right: 0;
}
.seo-kurs .course-info > div:not(:last-child) {
  border-right: 1px solid gray;
  padding-top: 4px;
  padding-bottom: 4px;
}
.seo-kurs .course-info > div:last-child {
  float: right;
  margin-right: 0;
}
.seo-kurs .preview .preview-icon,
.seo-kurs .preview-icon + span,
.seo-kurs #price {
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px;
}
.seo-kurs #price {
  font-weight: bold;
}
.seo-kurs .preview .preview-icon {
  width: 40px;
}
.seo-kurs .course-info > div:nth-child(2) > span:last-child {
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
}
.seo-kurs .course-info {
  /* background-color: rg/b(209, 209, 209); */
  padding: 10px 5px;
}
.seo-kurs .preview #students {
  background-image: url(../media/student.png);
}
.seo-kurs .preview #length {
  background-image: url(../media/length.png);
}
.seo-kurs .preview #author {
  background-image: url(../media/author.png);
}
.seo-kurs .preview #updatedAt {
  background-image: url(../media/updated-at.png);
}
/* End of Preview */


/* Purchased part */
.seo-kurs .course-statistic {
  margin: 30px 0;
}
.seo-kurs .progression-container {
  height: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  overflow: hidden;
  margin-bottom: 10px;
  width: 50%;
}
.seo-kurs .progression-container > div {
  background-color: var(--header-footer-bg);
  width: 0%;
  height: 100%;
  transition: all 2s ease-in-out;
}
.seo-kurs .course-statistic p {
  margin-bottom: 5px;
  color: rgb(93, 93, 93);
}
.seo-kurs #timer {
  float: right;
  display: block;
  height: 40px;
  line-height: 40px;
  min-width: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  color: green;
}
.seo-kurs video {
  /* height: 650px; */
}
.seo-kurs .section {
  margin-bottom: 30px;
  position: relative;
}
.seo-kurs .delete-section {
  position: absolute;
  top: 13px;
  right: 5px;
}
.seo-kurs .update-section {
  position: absolute;
  top: 13px;
  right: 73px;
}
.seo-kurs .section h2 {
  font-weight: normal;
  padding: 15px;
  background-color: rgb(206, 206, 206);
  color: rgb(63, 63, 63);
}
.seo-kurs ul.videos {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
}
.seo-kurs ul.tests > li {
  float: left;
  padding: 0 5px;
  height:35px;
}
.seo-kurs ul.tests > li > * {
  float: left;
}
.seo-kurs ul.tests a.test-name {
  color: rgb(107, 107, 107);
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 5px;
}
.seo-kurs ul.tests > li a:hover {
  cursor: pointer;
  color: rgb(49, 49, 49);
}
.seo-kurs li.video {
  padding: 15px;
  padding-left: 35px;
  position: relative;
}
.seo-kurs li.video:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.seo-kurs li.video .delete-video,
.seo-kurs li.video .btn-primary {
  position: absolute;
  top: 6px;
  right: 89px;
}
.seo-kurs li.video .btn-primary {
  right:157px;
}
.seo-kurs li.video .duration,
.seo-kurs li.video .checkbox {
  float: right;
}
.seo-kurs li.test .checkbox {
  position: relative;
  top: 2px;
}
.seo-kurs li.video .duration {
  margin-right: 10px;
}
.seo-kurs li.video .checkbox,
.seo-kurs li.test .checkbox {
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid rgb(158, 158, 158);
}
.seo-kurs li.test .checkbox {
  display: inline-block;
  margin-right: 5px;
  margin-top: 8px;
}
.seo-kurs li.video .watched,
.seo-kurs li.test .done {
  background-color: rgb(0, 140, 255);
  border: none;
  position: relative;
}
.seo-kurs li.video .watched::after,
.seo-kurs li.test .done::after {
  content: '';
  display: block;
  width: 4px;
  height: 8px;
  position: absolute;
  left: 5px;
  top: 1px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}
.video-play-icon {
  display: block;
  position: absolute;
  left: 5px;
  top: 10px;
  width: 25px;
  height: 25px;
  background-image: url(../media/play.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.seo-kurs .aside {
  color: rgb(94, 94, 94);
  width: 700px;
  margin: auto;
}
.seo-kurs .aside h3 {
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: rgb(94, 94, 94);
}
.seo-kurs .aside:not(.active) {
  display: none;
}
.seo-kurs .aside.active {
  display: block;
}
.seo-kurs .course-full + div {
  margin-bottom: 50px;
}
.seo-kurs #toggleAside {
  color: rgb(0, 110, 255);
  font-size: 20px;
  font-family: cursive;
  position: relative;
  cursor: pointer;
}
.seo-kurs #toggleAside::after {
  content: '';
  display: block;
  position: absolute;
  right: -30px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(45deg);
}
.seo-kurs #toggleAside.active::after {
  top: 10px;
  transform: rotate(225deg);
}
.seo-kurs .col-2 {
  column-count: 2;
  column-gap: 50px;
  margin-bottom: 50px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px rgb(182, 182, 182);
}
.seo-kurs .checked-style {
  padding: 5px;
}
.seo-kurs .checked-style li {
  margin-bottom: 8px;
  padding-left: 15px;
  position: relative;
}
.seo-kurs .checked-style li:not(.clearfix)::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: -5px;
  width: 10px;
  height: 5px;
  border-bottom: 3px solid green;
  border-left: 3px solid green;
  transform: rotate(-45deg);
}
.seo-kurs .description {
  margin-bottom: 100px;
  padding: 15px;
}
.seo-kurs .description p {
  margin-bottom: 20px;
}
/***** end of seo-kurs page *****/

/***** seo-optmizacija page ****/
.seo-optmizacija .wrapper {
  max-width: 1200px;
  padding: 0 0 10px 15px;
  margin: auto;
}
.seo-optmizacija #accordions {
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}
.seo-optmizacija #contactForm {
  width: 100%;
  margin: auto;
}
.seo-optmizacija .accordion .content-description {
  height: 100%;
  padding: 5px;
}
.seo-optmizacija .accordion .content-description > div > * {
  margin-bottom: 10px;
}
.seo-optmizacija .accordion .content-description > div {
  display: none;
  position: relative;
}
.seo-optmizacija .btn-danger {
  position: absolute;
  top: 0;
  right: 0;
}
.seo-optmizacija .accordion .content-description > div:first-child {
  display: block;
}
.seo-optmizacija .accordion .content-description p {
  line-height: 1.7;
}
.seo-optmizacija .accordion ul {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.seo-optmizacija .accordion ul li {
  padding: 6px 0;
  position: relative;
  cursor: pointer;
}
.seo-optmizacija .accordion ul li::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: -20px;
  background-color: rgb(28, 202, 28);
}
.seo-optmizacija .accordion {
  /* width: 800px; */
  margin-right: 20px;
  position: relative;
  background-color: rgb(129, 129, 129);
}
.seo-optmizacija .accordion-header h2,
.seo-optmizacija .accordion-content {
  padding: 20px 40px;
}
.seo-optmizacija .accordion-header h2 {
  float: left;
  padding-right: 0;
}
.seo-optmizacija .accordion-header {
  background: linear-gradient(180deg, rgb(88, 88, 88), rgb(54, 54, 54));
  color: white;
  outline: 1px solid black;
  margin-bottom: 2px;
}
.seo-optmizacija .accordion-content {
  background: rgb(54, 54, 54);
  color: white;
  border-top: 1px solid black;
  margin-bottom: 2px;
  /* height: 500px; */
  overflow: hidden;
  transition: margin 1s ease-out;
}
.seo-optmizacija .accordion-toggle {
  width: 40px;
  height: 40px;
  color: black;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 13px;
  left: -10px;
  border-radius: 9px;
  display: block;
  z-index: 99;
  cursor: pointer;
  background-color: rgb(51, 255, 0);
}
.seo-optmizacija .opened::before,
.seo-optmizacija .closed::before,
.seo-optmizacija .closed::after {
 content: '';
 display: block;
 width: 20px;
 height: 5px;
 background-color: rgb(100, 121, 102);
 position: absolute;
 top: 18px;
 left: 10px;
}
.seo-optmizacija .closed::after {
  transform: rotate(90deg);
}
.seo-optmizacija .purchase-btn {
  display: block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: right;
  margin: 9px;
  margin-left: 0;
  /* background-color: goldenrod; */
  /* color: white; */
  color: white;
  background-color: rgba(2, 2, 2, 0.212);
  border: 1px solid #2eff00;
  font-size: 22px;
  border-radius: 5px;
}
.seo-optmizacija .purchase-btn:hover {
  cursor: pointer;
  background-color: rgba(2, 2, 2, 0.459);
}
.seo-optmizacija .collapsed {
  height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0
}
.seo-optmizacija .wrapper form {
  padding: 15px 25px;
  background-color: rgb(54, 54, 54);
  outline: 1px solid #0071eb;
}
.seo-optmizacija form h1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 20px;
  color: white;
}
.seo-optmizacija .wrapper input, 
textarea {
  width: 100%;
  margin-bottom: 10px;
}
.seo-optmizacija textarea {
  resize: none;
}
.seo-optmizacija .wrapper input[type="submit"],
.seo-optmizacija .wrapper input[type="button"] {
  color: white;
  outline: none;
  border: none;
}
.seo-optmizacija .wrapper input[type="submit"]:hover,
.seo-optmizacija .wrapper input[type="button"]:hover {
  cursor: pointer;
}
.seo-optmizacija #contactSpecific {
  position: fixed;
  display: none;
  z-index: 999;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.seo-optmizacija #contactSpecific h2 {
  color: white;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
}
.seo-optmizacija #contactSpecific input[type="submit"],
.seo-optmizacija #contactSpecific input[type="button"] {
  width: 49%;
  float: left;
}
.seo-optmizacija #contactSpecific input[type="submit"] {
  margin-right: 2%;
}
@media screen and (min-width: 400px) {
  .seo-optmizacija #contactForm,
  .seo-optmizacija #contactSpecific {
    width: 360px;
  }
}
@media screen and (min-width: 600px) {
  .seo-optmizacija .accordion ul {
    column-count: 2;
    column-gap: 40px;
  }
}
@media screen and (min-width: 750px) {
  /* .seo-optmizacija .accordion ul {
    width: 50%;
    float: left;
    column-count: 1;
    margin-bottom: 0;
  }
  .seo-optmizacija .accordion .content-description {
    float: left;
    width: 50%;
  } */
}
@media screen and (min-width: 1200px) {
  .seo-optmizacija #accordions,
  .seo-optmizacija #contactForm {
    float: left;
  }
  .seo-optmizacija #accordions {
    margin-right: 10px;
  }
  
}
/***** End of seo-optmizacija page ****/

/***** kontakt page *****/
.kontakt {
  padding-bottom: 50px;
}
.kontakt .wrapper {
  max-width: 1100px;
  background-color: red;
  margin: auto;
  padding: 90px;
}
.kontakt .info {
  float: left;
  width: 35%;
  height: 530px;
  padding: 30px;
  color: white;
  background-color: black;
}
.kontakt #mail-icon {
  background: url(../media/mail-icon.png);
  display: block;
  width: 80px;
  height: 50px;
  margin-left: 10%;
  margin-bottom: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.kontakt .info > *:not(:last-child) {
  margin-bottom: 70px;
}
.kontakt .info > p {
  padding: 0 15px;
  text-align: center;
  font-style: italic;
}
.kontakt form {
  float: left;
  padding: 30px;
  background-color: #fff;
  width: 65%;
}
.kontakt input[type="text"],
.kontakt input[type="email"],
.kontakt textarea {
  background-color: rgb(247, 247, 247);
  resize: none;
  color: black;
  font-weight: bold;
}
.kontakt textarea {
  line-height: 1.5;
  font-size: 15px;
}
.kontakt form h1 {
  margin-bottom: 30px;
  font-family: Arial;
}
.kontakt form > div:nth-of-type(2) * {
  display: inline-block;
  width: 49%;
}
.kontakt input[type="submit"] {
  box-shadow: 3px 3px 15px gray, -3px 3px 15px gray;
}
.kontakt .contact {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.329), 0 20px 50px rgba(0, 0, 0, 0.274);
}
.kontakt .cancel {
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  color: red;
  background-color: #fff;
}
/***** End of kontakt page *****/

/***** blog page *****/
.blog .max-1200 {
  padding-top: 30px;
  padding-bottom:  50px;
}
.blog .max-1200 > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blog .post {
  width: 290px;
  height: 384px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px gray;
  /* float: left; */
}
.blog .post:nth-child(4) {
  margin-right: 0;
}
.blog .thumbnail-container {
  overflow: hidden;
  width: 290px;
  height: 200px;
  padding: 5px;
  margin-bottom: 5px;
  
}
.blog .thumbnail {
  display: block;
  height: 100%;
  width: 100%;
}
.blog .title-container {
  height: 31px;
  margin-bottom: 5px;
}
.blog .post-title {
  font-size: 16px;
}
.blog .post-title a {
  display: block;
  color: black;
  text-align: center;
}
.blog .post-description {
  padding: 5px;
  text-align: center;
}
/***** End of blog page *****/

/***** blog-single page *****/
.blog-single ul,
.blog-single ol {
  list-style: initial;
  margin: 15px 0px 15px 40px;
}
.blog-single .post {
  width: 800px;
  margin: auto;
  padding-top: 50px;
}
.blog-single h1 {
  margin-bottom: 30px;
  text-align: center;
}
.blog-single {
  line-height: 1.5;
}
/***** End of blog-single page *****/

/***** nasi-partneri page *****/
.nasi-partneri .wrapper {
  padding-bottom: 50px;
}
.nasi-partneri .partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nasi-partneri .partner {
  float: left;
  /* margin-bottom: 20px; */
  margin: 10px;
  width: 550px;
  height: 350px;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nasi-partneri .partner img {
  max-width: 100%;
  height: auto;
}
/***** End of nasi-partneri page *****/

/***** konsultacije page *****/
.konsultacije .wrapper,
.pocetna .meow {
  padding: 18px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  background-color: white;
  color: black;
}
.konsultacije .wrapper {
  padding-bottom: 50px;
}
.konsultacije .left h1,
.pocetna .meow .left h1 {
  margin-bottom: 40px;
  font-size: 40px;
  width: 90%;
  font-weight: normal;
}
.konsultacije ul,
.pocetna .meow ul {
  padding-left: 25px;
}
.konsultacije p,
.pocetna .meow p {
  margin-bottom: 30px;
}
.konsultacije li,
.pocetna .meow li {
  margin-bottom: 20px;
  position: relative;
}
.konsultacije li::before,
.pocetna .meow li::before {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-left: 3px solid rgb(0, 187, 0);
  border-bottom: 3px solid rgb(0, 187, 0);
  position: absolute;
  top: 3px;
  left: -25px;
  transform: rotate(-45deg);
}
.konsultacije .wrapper a,
.pocetna .meow a {
  font-size: 30px;
  display: block;
  height: 120px;
  line-height: 120px;
  text-align: center;
  color: white;
}
.konsultacije .image-container,
.pocetna .meow .image-container {
  height: 300px;
  margin-bottom: 10px;
  background-image: url(../media/konsultacije.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pocetna .meow .image-container {
  background-image: url(../media/konsultacije.png);
}
@media screen and (min-width: 400px) {
  .konsultacije .right > a,
  .pocetna .meow .right > a {
    width: 342px;
    margin: auto;
  }
}
@media screen and (min-width: 750px) {
  .konsultacije .right > *,
  .pocetna .meow .right > * {
    float: left;
  }
  .konsultacije .right > .image-container,
  .pocetna .meow .right > .image-container {
    margin-right: 2%;
    width: 49%;
  }
  .konsultacije .right > a,
  .pocetna .meow .right > a {
    margin-top: 150px;
    width: 49%;
  }
}
@media screen and (min-width: 900px) {
  .konsultacije .wrapper,
  .pocetna .meow {
    padding: 50px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .konsultacije .left,
  .konsultacije .right,
  .pocetna .meow .left,
  .pocetna .meow .right {
    float: left;
  }
  .konsultacije .left,
  .pocetna .meow .left {
    width: 65%;
    padding-right: 50px;
  }
  .konsultacije .right,
  .pocetna .meow .right {
    width: 35%;
  }
  .konsultacije .right > *,
  .pocetna .meow .right > * {
    width: 100% !important;
  }
  .konsultacije .right > .image-container,
  .pocetna .meow .right > .image-container {
    height: 400px;
  }
  .konsultacije .right > a,
  .pocetna .meow .right > a {
    margin-top: 0;
  }
}
/***** End of konsultacije page *****/

/***** portfolio page *****/
.portfolio {
  padding-bottom: 50px;
}
.portfolio .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio .job {
  width: 585px;
  margin: 15px 6px;
  outline: 1px solid gray;
  padding: 15px;
  padding-top: 5px;
}
.portfolio .job h2 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}
.portfolio .job a {
  color: black;
  display: block;
}
.portfolio .job img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
}
.portfolio .job p {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 3px;
}
.portfolio .job span {
  display: block;
  margin: auto;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio .wordpress-logo {
  background-image: url(../media/wordpress-logo.png);
  width: 89px;
}
.portfolio .shopify-logo {
  background-image: url(../media/shopify-logo.png);
  width: 69px;
}
@media screen and (min-width: 620px) {
  .portfolio .job img {
    float: left;
  }
  .portfolio .job p {
    float: left;
    width: 384px;
    height: 125px;
  }
  .portfolio .job span {
    float: right;
  }
}
/***** End of portfolio page *****/

/***** portfolio-single page *****/
.portfolio-single .wrapper {
  padding: 20px;
  padding-top: 50px;
}
.portfolio-single .card {
  color: white;
  float: left;
  width: 24%;
  height: 150px;
  margin-right: 1%;
  margin-bottom: 50px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-single .card:nth-child(1) {
  background: linear-gradient(to bottom right, #078c8a, #078c8a);
}
.portfolio-single .card:nth-child(2) {
  background: linear-gradient(to bottom right, rgb(255, 120, 255), rgb(173, 72, 255));
}
.portfolio-single .card:nth-child(3) {
  background: linear-gradient(to bottom right, rgb(255, 120, 255), rgb(173, 72, 255));
}
.portfolio-single .card:nth-child(4) {
  background: linear-gradient(to bottom right, rgb(255, 120, 255), rgb(173, 72, 255));
}
.portfolio-single h3 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio-single .analytics {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.portfolio-single h1 {
  margin-bottom: 40px;
  text-align: center;
}
.portfolio-single p {
  margin-bottom: 15px;
  text-indent: 30px;
}
.portfolio-single .content {
  margin-bottom: 100px;
}
/***** End of portfolio-single page *****/

/***** o-nama page *****/
/* .o-nama .tabs {
  float: left;
  width: 300px;
  margin-right: 20px;
}
.o-nama .tabs-content {
  float: left;
  width: 870px;
  padding: 15px;
  font-size: 25px;
  color: rgb(75, 75, 75);
}
.o-nama .tabs-content ul {
  overflow: hidden;
  position: relative;
  height: 506px;
} */
.o-nama ul {
  position: relative;
  overflow-x: hidden;
}
.o-nama li {
  cursor: pointer;
  margin-bottom: 2px;
}
@media screen and (max-width: 1109px) {
  .o-nama li .content {
    max-height: 0;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
}
.o-nama li .content {
  overflow: hidden;
  text-align: center;
}
.o-nama li.active .content {
  visibility: visible;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 1110px) {
  .o-nama li {
    margin-bottom: 8px;
  }
  .o-nama li h2 {
    width: 300px;
    box-shadow: -3px 0 5px gray, 3px 0 5px gray;
  }
  .o-nama li .content {
    position: absolute;
    visibility: hidden;
    transition: left 0.5s ease-in-out;
    left: 1500px;
    top: 15px;
    width: calc(100% - 340px);
  }
  .o-nama li.active .content {
    padding-bottom: 0;
    padding-top: 0;
  }
}
/* .o-nama .tabs-content li {
  position: absolute;
  top: 0;
  width: 100%;
  left: 900px;
  transition: left .5s ease-out;
} */
.o-nama h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 100;
}
/* .o-nama li:not(.active) {
 visibility: hidden;
}
.o-nama li.active {
  left: 0;
} */
.o-nama .content p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.3;
}
.o-nama h2 {
  height: 80px;
  text-align: center;
  font-size: 20px;
  line-height: 80px;
  background: linear-gradient(to bottom, rgb(41, 41, 41), black);
  color: white;
  border-radius: 5px;
}
.o-nama li.active h2 {
  background: linear-gradient(to bottom, rgb(251, 1, 1), rgb(168, 0, 0));
}
/**
 * Responsive header and footer
 */
#hideOnSmall {
  display: none;
}
@media screen and (min-width: 976px) {
  header a.menu-link:hover::before {
    background-color: var(--nav-link-color);
  }
}
/* Transition from hamburger menu to inline  */ 
@media screen and (min-width: 1110px) {
  body > main {
    min-height: calc(100vh - 150px);
  }
  #hideOnBig {
    display: none;
  }
  #hideOnSmall {
    display: block;
  }
  header .logo span {
    display: block;
    float: left;
  }
  .pocetna video { 
    margin-top: 0;
  }
  header nav ul li {
    float: left;
    text-align: initial;
    display: block;
  }
  header nav ul li:last-child {
    float: right;
  }
  header nav ul li:first-child {
    display: none;
  }
  header nav ul {
    position: initial;
    width: initial;
  }
  header nav ul li:not(:first-child) {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .max-1200 {
    width: 1200px;
  }
}
/* End of responsive header and footer */